.mainPage {
  &Col {
    padding: 0;
  }

  &Button, &Input {
    border-radius: 0;
  }

  &Button {
    background-color: #2B3A67;
  }

  &Section {
    &:last-child {
      .mainPageTitle {
        margin: 1.15rem 0 1.35rem 6.5rem;
      }
    }

    &:not(:last-child) {
      .mainPageTitle {
        margin: 2rem 0 1.35rem;
      }

      .mainPageControlsWrapper {
        column-gap: 2rem;
      }
    }
  }

  &ControlsWrapper {
    display: flex;
    align-items: center;
  }

  &Title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #66999B;
  }
}
